# Backup files
*.txt~
*.py~

# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# IDEs and editors
.vscode
.spyderproject

# Git backup files
.gitignore~

# Build and distribution
build
datagouv_client.egg-info/
dist

# MacOS system files
.DS_Store

# Python environments
venv
.venv
venv_datagouv_client/

# Python package managers
.python-version
pdm.lock

# Code quality tools
.ruff_cache/

# Project specific files
mise.local.toml
